.clients__list {
    display: flex;
    justify-content: space-between;
}



.clients__icon {
    height: 60px;
    width: 106px;
    fill: $abouttext-color;
    margin-top: 16px;
}

.clients__item {
    width: 170px;
    height: 92px;
    text-align: center;
    margin-bottom: 94px;
    border: 1px solid $abouttext-color;
    border-radius: 4px;
}

.clients__item:hover {
    border: 1px solid $button-color;
}







.clients__icon:hover {
    fill: $button-color;
}