.work-title {
    font-size: 36px;
    font-weight: 700;
    color: var(--nav-color);
    text-align: center;
    margin-bottom: 50px;
}

.work-list {
    display: flex;
    justify-content: space-between;

}

.work-img {
    width: 370px;
    height: 294px;
    z-index: -1;
}

.work-item {
    width: 370px;
    height: 294px;
}

.work-hover {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: black;
    padding-top: 27px;
    padding-bottom: 27px;
}

.work-z-index {
    top: 20px;
    z-index: 1;
    position: absolute;
    text-align: center;
    background-color: rgba(47, 48, 58, 0.8);
    width: 370px;
    opacity: 0.7;
}