$logo-first-part-color: #2196F3;
$logo-second-part-color: #000;
$hero-color: #2F303A;
$text-button-color: #FFF;
$button-color: #2196F3;
$featurestext-color: #757575;
$abouttext-color: #757575;
$fotertext-color: #2F303A;
$gmail-phone-color: rgba(255, 255, 255, 0.60);
$nav-color: #212121;
$font-family: "Roboto",sans-serif;
$second-family: "Raleway",sans-serif;